
<h1 class="main-title">Medical Center App</h1>
<h2 class="entities-title">Entities:</h2>
<ul class="entities-list">
  <li class="entity-item">
    <a href="<%= patients_path %>" class="entity-link">Patient</a>
  </li>
  <li class="entity-item">
    <a href="<%= doctors_path %>" class="entity-link">Doctor</a>
  </li>
  <li class="entity-item">
    <a href="<%= appointments_path %>" class="entity-link">Appointment</a>
  </li>
</ul>
