<h1>Medical Center App</h1>
<h2>Entities:</h2>
<ul>
  <li><a href="<%= patients_path %>">Patient</a></li>
  <li><a href="<%= doctors_path %>">Doctor</a></li>
  <li><a href="<%= appointments_path %>">Appointment</a></li>
</ul>
